<div class="navbar">
  <!-- Brand and toggle get grouped for better mobile display -->
  <div class="navbar-inner">
    <a class="brand" href="#">Twitter Follow</a>
    <ul class="nav pull-right">
      <li><%= link_to "Home", controller: "users", action: "home" %></li>
      <li><%= link_to "Sign Out", controller: "users", action: "sign_out" %></li>
    </ul>
  </div><!-- /.navbar-collapse -->
</div>
